@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lunara'; /* Nombre de la fuente */
    src: url('./helpers/tipografia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }